/assets/example_graph/journals/*
!/assets/example_graph/journals/.gitkeep
/assets/example_graph/logseq/*
!/assets/example_graph/logseq/.gitkeep
/assets/example_graph/pages/*
!/assets/example_graph/pages/.gitkeep
Cargo.lock
.env
target/
